<app-header></app-header>
<div class="profile-card">
  <div class="avatar">{{ user.userFullName[0] }}</div>
  <div class="info">
    <h2>{{ user.userFullName }}</h2>
    <p>{{ user.userEmail }}</p>
  </div>
</div>

<div class="history-container">
  <h3>Interview History</h3>

  <div class="tabs">
    <button (click)="activeTab = 'mock'" [class.active]="activeTab === 'mock'">
      Mock Interviews
    </button>
    <button (click)="activeTab = 'code'" [class.active]="activeTab === 'code'">
      Code Interviews
    </button>
  </div>

  <div class="interview-list" *ngIf="activeTab === 'mock'">
    <div
      class="interview-card"
      *ngFor="let interview of mockInterviews"
      routerLink="/feedback/{{ interview.mockIntId }}"
    >
      <h4>{{ interview.Timestamp | date: 'mediumDate' }}</h4>
      <p>{{ interview.interviewType }}</p>
    </div>
  </div>

  <div class="interview-list" *ngIf="activeTab === 'code'">
    <div
      class="interview-card"
      *ngFor="let interview of codeInterviews"
      routerLink="/feedback/{{ interview.codeIntId }}"
    >
      <h4>{{ interview.Timestamp | date: 'mediumDate' }}</h4>
      <p>{{ interview.language }} && {{ interview.level }} year of experience</p>
    </div>
  </div>
</div>
